#images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

#images-view .thumb{
	background: #dddddd;
	padding: 2px;
	position: relative;
}

#images-view .thumb-inner {
  width: 114px;  
  height: 86px;
  
  text-align: center;
  line-height: 100px;
}

#images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

#images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(/zeusCore/js/extjs/resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#images-view .x-view-selected{
	background: #eff5fb url(/zeusCore/js/extjs/resources/images/default/grid/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}

#images-view .x-view-selected .thumb{
	background:transparent;
}

#images-view .loading-indicator {
	font-size:11px;
	background-image:url(/zeusCore/js/extjs/resources/images/default/grid/loading.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}


#images-view .delete-img {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(/zeusCore/img/icons/famfamfam/cross.png) no-repeat;
  right: 0;
  cursor: pointer;
}
